* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
  background-color: #1e1a20;
}

.section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  color: #ffeded;
  text-transform: uppercase;
  font-weight: 600;
  align-items: center;
  font-size: 8vw;
  font-family: gilroy;
  padding: 4vw;
}

.section:nth-child(odd) {
  justify-content: end;
}

.webgl {
  position: fixed;
  outline: none;
}
